body {
    background-color: bisque;
}
.contain-card {
    background-color: aliceblue;
    margin: 200px;
    padding: 20px;
    width: 250px;
    height: 240px;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 8px 8px 20px -10px rgba(0,0,0,0.75);
}
.contain-card .contain-bell i {
    font-size: 2rem;
    color: orange;
}
.contain-card .title {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 1rem;
    font-weight: bolder;
}
.contain-card .contain-description .login a {
    text-decoration: none;
}
.contain-card .contain-button button {
    height: 2rem;
    width: 9rem;
    box-shadow: -200px -45px 111px -118px rgba(12,66,189,0.78) inset;
    background-color:skyblue;
    border-radius: 5px;
    border: none;
    color: white;
    
}